.position {
  position: absolute;
  top: $gutter-third;
  right: $gutter-third;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 34px;
  height: 34px;
  border: 2px solid $clr-yellow-light;

  @include font-size($fz-base);
  line-height: 1;

  color: $clr-yellow-light;

  border-radius: 100%;
}
