.top-logo {
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200px;

  margin-bottom: $gutter-half;
  padding: 8px $gutter-column;

  cursor: pointer;

  @include font-size($fz-base);
  line-height: 1;

  background-color: $clr-grey-light;
  border-radius: $brad-half;

  @include screen(tablet) {
    margin-bottom: 0;
  }
}
