.top-voted {
  background-color: #fff;
}

.top-voted h2 {
  margin: 0;
  padding: $gutter-column $gutter-half $gutter-third;

  @include font-size($fz-big);
  line-height: 1;
  letter-spacing: 1px;

  background-color: #fff;

  @include screen(tablet) {
    padding: 45px $gutter-base 24px;
  }
}
