.top-menu ul {
  display: flex;
  flex-direction: column;

  margin: 2px 0 0;
  padding: 0;

  @include screen(tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.top-menu li {
  display: block;
  margin: 0 0 $gutter-third;

  border-radius: $brad-half;

  background-color: transparent;
  transition-duration: $tr-dur-base;

  &.active {
    color: #fff;
    background-color: $clr-yellow-base;
  }

  &:not(.active):hover,
  &:not(.active):focus {
    color: #fff;
    background-color: lighten($clr-yellow-base, 10);
  }

  @include screen(tablet) {
    margin: 0 3px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.top-menu li a {
  display: block;
  width: 100%;
  padding: $gutter-third $gutter-half;

  cursor: pointer;
  text-align: center;
  letter-spacing: 0.3px;
}
