// Fonts
$font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
$fz-biggest: 36px;
$fz-bigger: 24px;
$fz-big: 21px;
$fz-base: 14px;
$fz-small: 12px;
$lh-base: 1.4;

// Breakpoints
$bp-tablet: 600px;
$bp-desktop: 960px;

// Colours
$clr-graphite-base: #292929;
$clr-grey-base: #252525;
$clr-grey-light: #ccc;
$clr-yellow-base: #ecbf0f;
$clr-yellow-light: #d4bf2d;
$clr-beige-base: #faf9f3;

$clr-shadow-base: rgba(0, 0, 0, 0.3);

// Other
$gutter-column: 20px;
$gutter-half: 15px;
$gutter-base: 30px;

$tr-dur-base: 0.3s;
