// Fonts
$font-family: "Helvetica Neue", "Arial", sans-serif;
$fz-biggest: 38.25px;
$fz-bigger: 34.5px;
$fz-big: 31.5px;
$fz-base: 15px;
$fz-little: 14.25px;
$fz-small: 13.5px;
$lh-base: 1.4;

// Breakpoints
$bp-tablet: 600px;
$bp-desktop: 960px;

// Colours
$clr-graphite-base: #292929;
$clr-grey-base: #252525;
$clr-grey-light: #ccc;
$clr-yellow-base: #ecbf0f;
$clr-yellow-light: #d4bf2d;
$clr-beige-base: #faf9f3;

$clr-shadow-base: rgba(0, 0, 0, 0.3);

// Other
$gutter-column: 20px;
$gutter-half: 15px;
$gutter-third: 10px;
$gutter-base: 30px;

$brad-base: 10px;
$brad-half: 5px;

$tr-dur-base: 0.3s;
